// .hello {
// 	background-color: red;
// }

.h5p-question-modal-feedback-container {
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    
    &.modaled-feedback-drag {
        bottom: 25px;
        height: auto;
    }
    
    .h5p-question-modal-inner {
    	background-color: #E1C498;
    	bottom: 10%;
    	left: 0;
    	position: absolute;
    	right: 0;
    	top: 10%;
		
		.image, .response, .buttons {
    		position: absolute;
    		opacity: 0.8;
		}
    	.image {
    		// background-color: red;
    		bottom: 0;
    		left: 0;
            overflow: hidden;
    		right: 66%;
    		top: 0;

            img {
                position: absolute;
                left: 50%;
                // margin: 50% 0 0 50%;
                min-width: 100px;
                top: 50%;
                width: 60%;

                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
    	}

    	.response {
    		// background-color: blue;
    		bottom: 100px;
    		top: 0;
    		right: 0;
            text-align: center;
    		left: 34%;

            h1 {
                color: #323232;
                font-family: H5PDroidSans, sans-serif;
                margin-top: 15%;
            }
    	}

    	.buttons {
    		// background-color: green;
    		bottom: 0;
    		height: 20%;
    		left: 34%;
            text-align: center;
            right: 0;
            
            a {
                font-weight: normal;
                text-decoration: none;
            }
    		a, button {
    			// background-color: #FFA421;
    			// border: none;
    			// display: inline-block;
    			// margin-left: 3%;
    			// width: 30%;
    		}
    	}
    }
}