/* line 2, stdin */
.h5p-question-feedback.h5p-question-visible {
  transition: none; }

/* line 7, stdin */
.h5p-question-modal-feedback-container {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }
  /* line 16, stdin */
  .h5p-question-modal-feedback-container.modaled-feedback-drag {
    bottom: 25px;
    height: auto; }
  /* line 21, stdin */
  .h5p-question-modal-feedback-container .h5p-question-modal-inner {
    background-color: #E1C498;
    bottom: 10%;
    left: 0;
    position: absolute;
    right: 0;
    top: 10%; }
    /* line 29, stdin */
    .h5p-question-modal-feedback-container .h5p-question-modal-inner .image, .h5p-question-modal-feedback-container .h5p-question-modal-inner .response, .h5p-question-modal-feedback-container .h5p-question-modal-inner .buttons {
      position: absolute;
      opacity: 0.8; }
    /* line 33, stdin */
    .h5p-question-modal-feedback-container .h5p-question-modal-inner .image {
      bottom: 0;
      left: 0;
      overflow: hidden;
      right: 66%;
      top: 0; }
      /* line 41, stdin */
      .h5p-question-modal-feedback-container .h5p-question-modal-inner .image img {
        position: absolute;
        left: 50%;
        min-width: 100px;
        top: 50%;
        width: 60%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    /* line 57, stdin */
    .h5p-question-modal-feedback-container .h5p-question-modal-inner .response {
      bottom: 100px;
      top: 0;
      right: 0;
      text-align: center;
      left: 34%; }
      /* line 65, stdin */
      .h5p-question-modal-feedback-container .h5p-question-modal-inner .response h1 {
        color: #323232;
        font-family: H5PDroidSans, sans-serif;
        margin-top: 15%; }
    /* line 72, stdin */
    .h5p-question-modal-feedback-container .h5p-question-modal-inner .buttons {
      bottom: 0;
      height: 20%;
      left: 34%;
      text-align: center;
      right: 0; }
      /* line 80, stdin */
      .h5p-question-modal-feedback-container .h5p-question-modal-inner .buttons a {
        font-weight: normal;
        text-decoration: none; }
